$font1: "Poppins", sans-serif;

$text-color: #090A0A;
$input-color: #F1F4FA;
$white: #FFF;
$light-grey: #F0F0F0;
$placeholder: #1C2439;
$main-color: #5D5FEF;

html{
	--bg-color: #{$white};
	--text-color: #{$text-color};
	--input-color: #{$input-color};
	--light-grey: #{$light-grey};
	--placeholder: #{$placeholder};
    --main-color: #{$main-color};
}

body{
	font-family: $font1;
	background-color: var(--body-bg);
	color: var(--text-color);

    &.dark {
        --bg-color: #{$text-color};
        --text-color: #{$white};
    }
}