input {
    border-radius: rem(8);
    background-color: var(--input-color);
    font-size: rem(15);
    border: none;
    padding: 15px 10px;
    width: 100%;

    &[type='submit'] {
       background-color: var(--main-color); 
       color: white;
       text-transform: uppercase;
       cursor: pointer;
       box-shadow: 0px 10px 20px rgba(58, 41, 106, 0.2);
    }
}